<!-- This is profile section -->
<section id="profile" class="profile">
  <div class="container">
    <h2 class="text-dark text-center"> Profile </h2>
    <hr class="hr-title">
    <div class="shadow p-3 pt-5 bg-light rounded">
    <div class=row>
      <div class="col-md-4 mb-2">
        <h3>About me</h3>
        <p>Hello folks!! hope you find this website interesting.
          I am currently student At Fanshawe College and
          I love spending time on learning new tech and develop projects.
          Also I like working in a team, you'll learn faster and much more.
          As the saying goes: 'two heads are better than one'.
        </p>
      </div>
      <div class="col-md-4 mb-2 photo">
        <img
          src="images/my.jpeg"
          class="my-photo" alt="">
      </div>
      <div class="col-md-4 mb-2 ">
        <h3>Details</h3>
        <h5>Name:</h5>
        <p>Nir Vipulbhai Doshi</p>
        <h5>Age:</h5>
        <p>23</p>
        <h5>Location:</h5>
        <p>London, Ontario, Canada</p>
      </div>
    </div>
    </div>
  </div>
</section>


<!-- This is Education Section -->
<section id=education class="education">
  <div class="container">
    <h2 class="text-dark text-center">Education</h2>
    <hr class="hr-title">
    <div class="shadow p-3 mb-5 bg-light rounded text-center">
        <h5>Fanshawe College </h5>
        <p class="text-muted">P.G Diploma in Business and Information Systems [2023-2025]</p>
        <i class="fi fi-rr-location-alt text-muted"></i><span class="text-muted"> London, Ontario, Canada</span>
        <p class="arrow"><i class="fi fi-rr-arrow-down"></i></p>
        <h5>Marwadi Education Foundation Group Of Institutions </h5>
        <p class="text-muted">B.E In Computer Engineering [2018-2022]</p>
        <i class="fi fi-rr-location-alt text-muted"></i><span class="text-muted"> Rajkot, Gujarat, India</span>
        <p class="arrow"><i class="fi fi-rr-arrow-down"></i></p>
        <h5>Shree Swaminarayan Academy</h5>
        <p class="text-muted">High School [2017-2018]</p>
        <i class="fi fi-rr-location-alt text-muted"></i><span class="text-muted"> Surat, Gujarat, India</span>
      </div>
  </div>
</section>


<section id="about" class="abilities">
  <div class="container">
    <h2 class="text-dark text-center"> Abilities </h2>
    <hr class="hr-title">
    <div class="shadow p-3 mb-5 bg-light rounded">

      <div class="row mb-3">
        <div class="col-md-6 mb-2 expand">
            <h6>Java</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-md-6 mb-2 expand">
          <h6>Bootstrap Framework</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mb-2 expand">
          <h6>Python</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-6 mb-2 expand">
          <h6>MySQL</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mb-2 expand">
          <h6>Html</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-6 mb-2 expand">
          <h6>Mongoose(MongoDB ODM)</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 65%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mb-2 expand">
          <h6>CSS</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-6 mb-2 expand">
          <h6>Android App Development</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mb-2 expand">
          <h6>Javascript</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-6 mb-2 expand">
          <h6>TensorFlow</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mb-2 expand">
          <h6>JQuery</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-6 mb-2 expand ">
          <h6>Keras</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- <hr class="hr-title">

    <div class="languages bg-white shadow rounded p-3 mb-5">
      <h3>Languages</h3>
    <div class="row">
        <div class="col-md-6">
            <h6>Gujarati</h6>
            <h6>English</h6>
        </div>
        <div class="col-md-6">
            <h6>Hindi</h6>
        </div>
      </div>
    </div> -->
    <hr class="hr-title">

    <div class="tools bg-light shadow rounded p-3">
      <h3>Tools</h3>
      <hr class="tools-m">
    <div class="row mb-3">
        <div class="col-md-6  mb-2 expand ">
            <h6>Firefox</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-md-6  mb-2 expand ">
            <h6>Eclipse</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
      </div>

      <div class="row mb-3">
          <div class="col-md-6  mb-2 expand ">
              <h6>Chrome</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
          <div class="col-md-6  mb-2 expand ">
              <h6>Android Studio</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6  mb-2 expand ">
                <h6>Git / Github</h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-6  mb-2 expand ">
              <h6>Jupyter Notebook</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
              <div class="col-md-6  mb-2 expand ">
                  <h6>Atom</h6>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
              <div class="col-md-6  mb-2 expand ">
                <h6>Sublime</h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
    </div>

  </div>

</section>


<section id="projects" class="projects">
  <h2 class="text-dark text-center"> Projects </h2>
  <hr class="hr-title">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4 mb-4">
        <div class="card text-center shadow bg-light">
          <img src="/images/p1.jpg" alt="" class="card-img-top" style="height:15rem;">
          <div class="card-body">
            <h5 class="card-title">E-prescription</h5>
            <p class="card-text"><small class="text-muted">-Android App</small></p>
            <a href="https://play.google.com/store/apps/details?id=com.napps.voiceprescription" class="btn btn-primary text-light btn-sm">Go To Project</a>
            <a href="https://github.com/nirdoshi/Eprescription" class="btn btn-primary text-light btn-sm">Go To Github Repo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <div class="card text-center shadow bg-light">
          <img src="/images/p2.jpg" alt="" class="card-img-top" style="height:15rem;">
          <div class="card-body">
            <h5 class="card-title">Wallpaper and Ringtone</h5>
            <p class="card-text"><small class="text-muted">-Android App</small></p>
            <a href="https://play.google.com/store/apps/details?id=com.napps.wallpaper" class="btn btn-primary text-light btn-sm">Go To Project</a>
            <a href="https://github.com/nirdoshi/wallpaper" class="btn btn-primary text-light btn-sm">Go To Github Repo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <div class="card text-center shadow bg-light">
          <img src="/images/p3.jpg" alt="" class="card-img-top" style="height:15rem;">
          <div class="card-body">
            <h5 class="card-title">U.S Covid-19 Data Analysis</h5>
            <p class="card-text"><small class="text-muted">-Data Mining</small></p>
            <a href="https://github.com/nirdoshi/covid-19-united-states-analysis" class="btn btn-primary text-light btn-sm">Go to Github Repo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 mb-4">
        <div class="card text-center shadow bg-light">
          <img src="/images/p4.jpg" alt="" class="card-img-top" style="height:15rem;">
          <div class="card-body">
            <h5 class="card-title">Covid-19 And Pneumonia Detection</h5>
            <p class="card-text"><small class="text-muted">-Deep Learning</small></p>
            <a href="http://disease-recognizer.herokuapp.com/" class="btn btn-primary text-light btn-sm">Go to Project</a>
            <a href="https://github.com/nirdoshi/Covid19-and-Pneumonia-Detection" class="btn btn-primary text-light btn-sm">Go To Github Repo</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
