html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;

}

body{
  margin:0;
   padding:0;
   height:100%;
font-family: 'Montserrat', sans-serif;
}

.hr-title{
  width:30%;
  background-color: #727878;
  opacity: 0.2;
  margin-bottom: 3%;
}
.hr-sub-heading{
width:15%;
background-color:#0275c0;
height:0.2rem;
margin-left:0;
}
.navigation{
  background: no-repeat center url("10.jpg");
  background-size: cover;
    height: 47rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.intro{
  /* background: no-repeat center url("10.jpg");
  background-size: cover;
    height: 47rem;
    overflow-x: hidden;
    overflow-y: hidden; */
  overflow-x: hidden;
}
.name{
  color: #eff7e1;
  text-align: center;
  padding-top: 13%;
  font-size: 6rem;
  font-family: 'Italianno', cursive;
}

.nir{
  text-align: center;
  display: inline-block;
  width: 50%;
  margin: 0 25%;
}


.skill-items{
    color: #eff7e1;
}

.profile{
  background-color: #f7f7f7;
  padding: 10% 0 10% 0;
  min-height: 100%;

}
.photo{
  text-align: center;
}
.my-photo{
  width: 80%;
  height: 90%;
  border-radius: 100%;
  border: 15px solid #e9ecef;
}
.education{
  background-color: #bee3db;
  padding: 10% 0 10% 0;
  min-height: 100%;
}

.arrow{
  margin-top: 2%;
}
.fi-rr-arrow-down{
  font-size: 200%;
  font-weight: lighter;

}
.abilities{
  background-color: #e9ecef;
  padding: 5% 0 5% 0;
}
.tools-m{
  width:5%;
  background-color:#0275c0;
  height:0.2rem;
  margin-left:0;
}
.github-link{
  margin-top: 2%;
}
.projects{
  padding: 5% 0 5% 0;
  background-color: #bee3db;
}

.blogs{
    background-color: #f7f7f7;
    padding-bottom: 5%;
}
.contact-me-form{
  padding: 5% 0 5% 0;
}
.compose-form{
  margin-bottom: 3%;
}
.post-heading{
  padding: 10% 0 0 0;
}
.compose{
  padding: 8% 0 0 0;
}
.icon-color{
  color:#0275c0;
}

.expand:hover{
  transform: scaleX(1.03);
  transition: transform 0.3s;

}

/* .copyrights{
  color: white;
  text-align: center;
  margin:0;
  padding-bottom: 1%;
}
.wrap{
  white-space: pre-wrap;
} */
@media only screen and (max-width: 768px) {
  .navigation{
    height: 100vh;
  }
  .name{
    padding-top: 50%;
    font-size: 5rem;
  }
  .abilities{
    padding: 10% 0 10% 0;
  }

  .projects{
    padding: 10% 0 10% 0;
  }
  .projects .hr-title{
    margin-bottom: 2%;
  }
  .hr-title{
      margin-bottom: 8%;
  }
  .blogs{
      background-color: #f7f7f7;
      padding:12% 0 5% 0;
  }
}
